<%= form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank_id %><br>
    <%= f.number_field :bank_id %>
  </div>
  <div class="field">
    <%= f.label :branchname %><br>
    <%= f.text_field :branchname %>
  </div>
  <div class="field">
    <%= f.label :branchcode %><br>
    <%= f.number_field :branchcode %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :swiftcode %><br>
    <%= f.text_field :swiftcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
