<h1>
  Dushboard
</h1>

<div class="box-bordered inline">
  <div class="caption">Link</div>
  <table class="table-bordered result">
    <thead>
      <tr>
        <th>Name</th>
        <th>Records</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <tr><td><a href="/customers">Cunstomers</a></td><td class="text-right"><%=number_with_delimiter(@counts[:customers])%></td><td></td></tr>
      <tr><td><a href="/banks">Banks</a></td><td class="text-right"><%=number_with_delimiter(@counts[:banks])%></td><td></td></tr>
    </tbody>
  </table>
</div>

<div class="box-bordered inline">
  <div class="caption">Serch Multiple Customers</div>
    <%= form_tag({controller: "customers", action: 'index'}, {method: "get", class: 'condition form-inline form-horizontal', style: 'vertical-align: baseline;'}) do %>
      <%= text_area_tag 'conditions[multipleid]', '', {:size => "15x10", style: 'vertical-align: bottom;'} %>
      <%= submit_tag "Search", {:class => "btn", style: 'overflow:visible;vertical-align: bottom;'} %>
    <% end %>
</div>

<div class="box-bordered inline">
  <div class="caption">
    <%= link_to('http://www.cimbbank.com.my/index.php?tpt=cimb_bbiz&tpl=gen_rates', {:target => "_blank"}) do %>
      Conversion rate <%= image_tag('/assets/externallink.png', class: 'extlink') %>
    <% end %>
  </div>
  <table>
    <tbody>
      <tr><td>USDJPY</td><td><%= number_with_precision(@usdjpy, :precision => 4)%></td></tr>
      <tr><td>JPYUSD</td><td><%= number_with_precision(@jpyusd, :precision => 4)%></td></tr>
    </tbody>
  </table>
</div>
<br />

<div class="box-bordered">
  <div class="caption">Infomation</div>
  <table>
    <tbody>
      <tr><td>2014.03.13</td><td>[ fix ]</td><td>顧客情報の更新処理時に銀行情報の変更が正しく動作しない不具合を修正</td></tr>
      <tr><td>2014.03.13</td><td>[ add ]</td><td>ダッシュボードを設置</td></tr>
    </tbody>
  </table>
</div>
<br />
