<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>hamaguchi</Author>
  <LastAuthor>saeki</LastAuthor>
  <Created>2014-04-25T06:12:29Z</Created>
  <LastSaved>2014-04-28T04:02:26Z</LastSaved>
  <Company>MouseComputer PC</Company>
  <Version>14.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>12105</WindowHeight>
  <WindowWidth>28035</WindowWidth>
  <WindowTopX>360</WindowTopX>
  <WindowTopY>120</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Center"/>
   <Borders/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"
    ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s17" ss:Name="桁区切り">
   <NumberFormat ss:Format="#,##0;[Red]\-#,##0"/>
  </Style>
  <Style ss:ID="s62">
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Vertical="Center"/>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="18" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s93">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s94">
   <NumberFormat ss:Format="General Date"/>
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s98">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s99">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s100">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s101">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s102">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s103">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s104" ss:Parent="s17">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat ss:Format="#,##0;[Red]\-#,##0"/>
  </Style>
  <Style ss:ID="s105" ss:Parent="s17">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s106">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s107" ss:Parent="s17">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat ss:Format="#,##0.00;[Red]\-#,##0.00"/>
  </Style>
  <Style ss:ID="s108">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial Unicode MS" x:CharSet="128" x:Family="Modern"
    ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat ss:Format="@"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Sheet2">
  <Table x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="54" ss:DefaultRowHeight="13.5">
   <Column ss:Width="42.75"/>
   <Column ss:Width="240"/>
   <Column ss:Width="69"/>
   <Column ss:Width="72.75"/>
   <Column ss:Width="105"/>
   <Column ss:Width="36.75"/>
   <Column ss:Hidden="1" ss:AutoFitWidth="0" ss:Width="110.25" ss:Span="1"/>
   <Column ss:Index="9" ss:Width="65.25"/>
   <Column ss:Width="75.75"/>
   <Column ss:Width="342.75"/>
   <Column ss:Width="317.25"/>
   <Column ss:Width="90"/>
   <Column ss:Width="108.75"/>
   <Column ss:Width="100.5"/>
   <Column ss:Width="247.5"/>
   <Column ss:Width="87.75"/>
   <Column ss:Width="54.75"/>
   <Column ss:Width="93"/>
   <Column ss:Width="69"/>
   <Column ss:Width="71.25"/>
   <Row ss:AutoFitHeight="0" ss:Height="29.25" ss:StyleID="s62">
    <Cell ss:Index="2" ss:StyleID="s63"><Data ss:Type="String">Withdrawal Request Sheet</Data></Cell>
    <Cell ss:StyleID="s63"/>
    <Cell ss:Index="16" ss:StyleID="s63"><Data ss:Type="String"><%= @created %></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="16.5" ss:StyleID="s62"/>
   <Row ss:AutoFitHeight="0" ss:Height="33" ss:StyleID="s62">
    <Cell ss:StyleID="s98"><Data ss:Type="String">Serial</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Date</Data><Comment
      ss:Author="yikeda"><ss:Data xmlns="http://www.w3.org/TR/REC-html40"><B><Font
         html:Size="9" html:Color="#000000">yikeda:</Font></B><Font html:Size="9"
        html:Color="#000000">&#10;受付日</Font></ss:Data></Comment></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">MM ID</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Account ID</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Name</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Ccy</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Management Fee 1</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Management Fee 2</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Amount</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Remittance</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Client Address</Data><Comment
      ss:Author="myoshimura" ss:ShowAlways="1"><ss:Data
       xmlns="http://www.w3.org/TR/REC-html40"><B><Font html:Size="9"
         html:Color="#000000">建物名も必要。&#10;文字数120文字以内。</Font></B></ss:Data></Comment></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Bank Name</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Branch Name</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Account Number</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">SWIFT Code</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Bank Address</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Double Funds tranfer</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Created&#10; by</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Withdrawal fm&#10;AHRS&amp;RSM</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Confirmed &#10;by</Data></Cell>
    <Cell ss:StyleID="s98"><Data ss:Type="String">Processed&#10; by</Data></Cell>
   </Row>
<% @customers.each do |cust| %>
   <Row ss:AutoFitHeight="0" ss:Height="14.25">
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s94"><Data ss:Type="DateTime"><%= @accepted %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= cust.parentid %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= cust.accountid %></Data></Cell>
    <Cell ss:StyleID="s99"><Data ss:Type="String"><%= cust.fullname %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= cust.cbc %></Data></Cell>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s99"><Data ss:Type="String"><%= cust.address %></Data></Cell>
    <Cell ss:StyleID="s99"><Data ss:Type="String"><%= cust.bank.try(:bankname) %></Data></Cell>
    <Cell ss:StyleID="s99"><Data ss:Type="String"><%= cust.bank.try(:branchname) %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= cust.holderid %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= cust.bank.try(:swiftcode) %></Data></Cell>
    <Cell ss:StyleID="s99"><Data ss:Type="String"><%= cust.bank.try(:address) %></Data></Cell>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"><Data ss:Type="String">4/7MI</Data></Cell>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"><Data ss:Type="String">4/7CH</Data></Cell>
    <Cell ss:StyleID="s93"/>
   </Row>
<% end %>
   <Row ss:AutoFitHeight="0" ss:Height="14.25">
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="34.3125" ss:StyleID="s62">
    <Cell ss:StyleID="s99"/>
    <Cell ss:StyleID="s100"><Data ss:Type="String">Total&#10; Amount</Data></Cell>
    <Cell ss:StyleID="s101"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"><Data ss:Type="String">JPY</Data></Cell>
    <Cell ss:StyleID="s103"/>
    <Cell ss:StyleID="s103"/>
    <Cell ss:StyleID="s107"
     ss:Formula="=SUMIF(R[-<%= @customers.length + 1 %>]C[-3]:R[-1]C,&quot;JPY&quot;,R[-<%= @customers.length + 1 %>]C:R[-1]C)"></Cell>
    <Cell ss:StyleID="s105"/>
    <Cell ss:StyleID="s105"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s108"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="34.3125" ss:StyleID="s62">
    <Cell ss:StyleID="s99"/>
    <Cell ss:StyleID="s100"><Data ss:Type="String">Total&#10; Amount</Data></Cell>
    <Cell ss:StyleID="s101"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s106"><Data ss:Type="String">USD</Data></Cell>
    <Cell ss:StyleID="s103"/>
    <Cell ss:StyleID="s103"/>
    <Cell ss:StyleID="s107"
     ss:Formula="=SUMIF(R[-<%= @customers.length + 2 %>]C[-3]:R[-2]C,&quot;USD&quot;,R[-<%= @customers.length + 2 %>]C:R[-2]C)"></Cell>
    <Cell ss:StyleID="s107"/>
    <Cell ss:StyleID="s107"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s108"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s102"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.3"/>
    <Footer x:Margin="0.3"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Unsynced/>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>1</ActiveRow>
     <ActiveCol>1</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R17C6:R18C6</Range>
   <Type>List</Type>
   <Value>#REF!</Value>
  </DataValidation>
  <ConditionalFormatting xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R1C6:R4C6,R17C6:R18C6</Range>
   <Condition>
    <Qualifier>Equal</Qualifier>
    <Value1>&quot;USD&quot;</Value1>
    <Format Style='background:yellow'/>
   </Condition>
  </ConditionalFormatting>
 </Worksheet>
</Workbook>
