<div class="box-bordered" style="width:300px;display:block">
  <h2>
    Sign in
    <span class="nav-link">
      <%= render "devise/shared/links" %>
    </span>
  </h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="field"><%= f.label :login %> <%= f.text_field :login , :autofocus => true %></div>

    <div class="field"><%= f.label :password %> <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="field"><label></label> <%= f.check_box :remember_me %> <%= f.label :remember_me, { :class => "no-format" } %></div>
    <% end -%>

    <div class="text-center"><%= f.submit "Sign in", { :class => "btn btn-small" } %></div>
  <% end %>
</div>